<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HOSTNAME" value="localhost"/><!--服务器名称-->
    <add key="PORT" value="9001"/><!--Restf服务端口-->
    <add key="DBTYPE" value="MSSQL"/><!--ORACLE,MSSQL,MYSQL-->
    <add key="DATATYPE" value="JSON"/><!--JSON,JSONP-->
    <add key="JSONPHANDEL" value="MyJsonP"/><!--DATATYPE为JSONP时配置此节内容-->
    <add key="DBCONSTRING" value="Data Source = 192.168.1.100; Initial Catalog = DB_TEST; User Id = sa; Password = 123456;"/>
    <!--[MSSQL]: Data Source = 192.168.0.21; Initial Catalog = testtable; User Id = sa; Password = 123456;-->
    <!--[ORACLE]: Data Source = Data Source=carorcl;Persist Security Info=True;User ID=orcl;Password=orcl-->
    <!--[MySQL]: User Id=root;Host=localhost;Database=db_carmanager;password=root-->
    <add key="TABLES" value="T_TEST"/> <!--t_test , 分割-->
    <add key="WRITELOG" value="TRUE"/> <!--t_test , 分割-->
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
